<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>应用日志</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		    <script src="../js/html5shiv.min.js"></script>
		    <script src="../js/respond.min.js"></script>
		<![endif]-->
		<link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="../css/animate.min.css" rel="stylesheet">
		<link href="../css/plugins/datapicker/bootstrap-datetimepicker.css" rel="stylesheet">
		<link href="../css/style.min862f.css?v=4.1.0" rel="stylesheet">
	</head>

	<body class="gray-bg top-navigation">
		<div id="wrapper">
			<div id="page-wrapper" class="gray-bg">
				<div class="wrapper wrapper-content index">
					<div class="container-fluid">
						
						<div class="row small_bs_row">
							<div class="col-md-12 small_bs_col">
								<div class="ibox">
									<div class="ibox-title">
										<h5>应用日志</h5>
				                    </div>
				                    <div class="ibox-content">
				                    	<div role="form" class="form-inline text-center m-b">
						                    <div class="form-group m-t-sm m-r-sm">
						                      <label class="control-label" style="padding-left:0;font-weight: normal;">开始时间：</label>
						                      <div class="input-group date form_datetime" data-date="2017-03-24T01:00:00Z" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
						                        <input id="startTimes" class="form-control" size="16" type="text" value="2017-03-24 01:00:00" readonly="" style="background:#fff;">
						                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						                      </div>
						                      <input type="hidden" id="dtp_input1" value=""><br>
						                    </div>
						                    <div class="form-group m-t-sm m-r-sm">
						                      <label class="control-label" style="padding-left:0;font-weight: normal;">结束时间：</label>
						                      <div class="input-group date form_datetime" data-date="2017-03-24T17:00:00Z" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input2">
						                        <input id="endTimes" class="form-control" size="16" type="text" value="2017-03-24 17:00:00" readonly="" style="background:#fff;">
						                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						                      </div>
						                      <input type="hidden" id="dtp_input1" value=""><br>
						                    </div>
						                    <div class="form-group m-t-sm m-r-sm">
						                      <label class="font-noraml">host：</label>
						                      <select id="" class="form-control">
						                      	<option>请选择</option>
						                      </select>
						                    </div>
						                    <div class="form-group m-t-sm m-r-xs">
						                      <label class="font-noraml">关键字：</label>
						                      <input id="" class="form-control" placeholder="请输入关键字"/>
						                    </div>
						                    <button id="" class="btn btn-success m-t-sm" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;搜索</button>
						                </div>
				                        <!--<div class="echarts" id="applog"></div>-->
				                        <table class="table table-striped table-bordered m-t-md log">
											<thead>
												<tr>
													<th class="text-center">时间戳</th>
													<th class="text-center">日志</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="first"><i class="fa fa-caret-right"></i><span>2017-03-24 15:55:01.000</span></td>
													<td>
														<b>appname:</b><span></span><b>hostname:</b><span>221.238.131.162</span><b>tag:</b><span>test</span>
														<p>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</p>
														<div>
															<table>
																<tbody>
																	<tr>
																		<td>hostname:</td>
																		<td>221.238.131.162</td>
																	</tr>
																	<tr>
																		<td>appname:</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>tag:</td>
																		<td>test</td>
																	</tr>
																	<tr>
																		<td>logtype:</td>
																		<td>apache</td>
																	</tr>
																	<tr>
																		<td>context_id:</td>
																		<td>1488321028372930</td>
																	</tr>
																	<tr>
																		<td>agent_send_timestamp:</td>
																		<td>2017/03/24 16:25:26.265</td>
																	</tr>
																	<tr>
																		<td>apache.clientip:</td>
																		<td>192.168.1.103</td>
																	</tr>
																	<tr>
																		<td>apache.geo.city:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.country:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.isp:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.province:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.method:</td>
																		<td>GET</td>
																	</tr>
																	<tr>
																		<td>apache.referer:</td>
																		<td>http://alltest.rizhiyi.com/dashboard/</td>
																	</tr>
																	<tr>
																		<td>apache.referer_domain:</td>
																		<td>alltest.rizhiyi.com</td>
																	</tr>
																	<tr>
																		<td>apache.request_path:</td>
																		<td>/api/v0/dashboard/topvalues/fields/24/</td>
																	</tr>
																	<tr>
																		<td>apache.resp_len:</td>
																		<td>244</td>
																	</tr>
																	<tr>
																		<td>apache.status:</td>
																		<td>200</td>
																	</tr>
																	<tr>
																		<td>apache.ua:</td>
																		<td>Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36</td>
																	</tr>
																	<tr>
																		<td>apache.version:</td>
																		<td>1.1</td>
																	</tr>
																	<tr>
																		<td>collector_recv_timestamp:</td>
																		<td>1490343926265</td>
																	</tr>
																	<tr>
																		<td>duration_parse__debug__:</td>
																		<td>65</td>
																	</tr>
																	<tr>
																		<td>timestamp:</td>
																		<td>2017/03/24 15:55:01.0</td>
																	</tr>
																	<tr>
																		<td>raw_message:</td>
																		<td>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td class="first"><i class="fa fa-caret-right"></i><span>2017-03-24 15:55:01.000</span></td>
													<td>
														<b>appname:</b><span></span><b>hostname:</b><span>221.238.131.162</span><b>tag:</b><span>test</span>
														<p>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</p>
														<div>
															<table>
																<tbody>
																	<tr>
																		<td>hostname:</td>
																		<td>221.238.131.162</td>
																	</tr>
																	<tr>
																		<td>appname:</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>tag:</td>
																		<td>test</td>
																	</tr>
																	<tr>
																		<td>logtype:</td>
																		<td>apache</td>
																	</tr>
																	<tr>
																		<td>context_id:</td>
																		<td>1488321028372930</td>
																	</tr>
																	<tr>
																		<td>agent_send_timestamp:</td>
																		<td>2017/03/24 16:25:26.265</td>
																	</tr>
																	<tr>
																		<td>apache.clientip:</td>
																		<td>192.168.1.103</td>
																	</tr>
																	<tr>
																		<td>apache.geo.city:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.country:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.isp:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.province:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.method:</td>
																		<td>GET</td>
																	</tr>
																	<tr>
																		<td>apache.referer:</td>
																		<td>http://alltest.rizhiyi.com/dashboard/</td>
																	</tr>
																	<tr>
																		<td>apache.referer_domain:</td>
																		<td>alltest.rizhiyi.com</td>
																	</tr>
																	<tr>
																		<td>apache.request_path:</td>
																		<td>/api/v0/dashboard/topvalues/fields/24/</td>
																	</tr>
																	<tr>
																		<td>apache.resp_len:</td>
																		<td>244</td>
																	</tr>
																	<tr>
																		<td>apache.status:</td>
																		<td>200</td>
																	</tr>
																	<tr>
																		<td>apache.ua:</td>
																		<td>Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36</td>
																	</tr>
																	<tr>
																		<td>apache.version:</td>
																		<td>1.1</td>
																	</tr>
																	<tr>
																		<td>collector_recv_timestamp:</td>
																		<td>1490343926265</td>
																	</tr>
																	<tr>
																		<td>duration_parse__debug__:</td>
																		<td>65</td>
																	</tr>
																	<tr>
																		<td>timestamp:</td>
																		<td>2017/03/24 15:55:01.0</td>
																	</tr>
																	<tr>
																		<td>raw_message:</td>
																		<td>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td class="first"><i class="fa fa-caret-right"></i><span>2017-03-24 15:55:01.000</span></td>
													<td>
														<b>appname:</b><span></span><b>hostname:</b><span>221.238.131.162</span><b>tag:</b><span>test</span>
														<p>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</p>
														<div>
															<table>
																<tbody>
																	<tr>
																		<td>hostname:</td>
																		<td>221.238.131.162</td>
																	</tr>
																	<tr>
																		<td>appname:</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>tag:</td>
																		<td>test</td>
																	</tr>
																	<tr>
																		<td>logtype:</td>
																		<td>apache</td>
																	</tr>
																	<tr>
																		<td>context_id:</td>
																		<td>1488321028372930</td>
																	</tr>
																	<tr>
																		<td>agent_send_timestamp:</td>
																		<td>2017/03/24 16:25:26.265</td>
																	</tr>
																	<tr>
																		<td>apache.clientip:</td>
																		<td>192.168.1.103</td>
																	</tr>
																	<tr>
																		<td>apache.geo.city:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.country:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.isp:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.province:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.method:</td>
																		<td>GET</td>
																	</tr>
																	<tr>
																		<td>apache.referer:</td>
																		<td>http://alltest.rizhiyi.com/dashboard/</td>
																	</tr>
																	<tr>
																		<td>apache.referer_domain:</td>
																		<td>alltest.rizhiyi.com</td>
																	</tr>
																	<tr>
																		<td>apache.request_path:</td>
																		<td>/api/v0/dashboard/topvalues/fields/24/</td>
																	</tr>
																	<tr>
																		<td>apache.resp_len:</td>
																		<td>244</td>
																	</tr>
																	<tr>
																		<td>apache.status:</td>
																		<td>200</td>
																	</tr>
																	<tr>
																		<td>apache.ua:</td>
																		<td>Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36</td>
																	</tr>
																	<tr>
																		<td>apache.version:</td>
																		<td>1.1</td>
																	</tr>
																	<tr>
																		<td>collector_recv_timestamp:</td>
																		<td>1490343926265</td>
																	</tr>
																	<tr>
																		<td>duration_parse__debug__:</td>
																		<td>65</td>
																	</tr>
																	<tr>
																		<td>timestamp:</td>
																		<td>2017/03/24 15:55:01.0</td>
																	</tr>
																	<tr>
																		<td>raw_message:</td>
																		<td>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td class="first"><i class="fa fa-caret-right"></i><span>2017-03-24 15:55:01.000</span></td>
													<td>
														<b>appname:</b><span></span><b>hostname:</b><span>221.238.131.162</span><b>tag:</b><span>test</span>
														<p>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</p>
														<div>
															<table>
																<tbody>
																	<tr>
																		<td>hostname:</td>
																		<td>221.238.131.162</td>
																	</tr>
																	<tr>
																		<td>appname:</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>tag:</td>
																		<td>test</td>
																	</tr>
																	<tr>
																		<td>logtype:</td>
																		<td>apache</td>
																	</tr>
																	<tr>
																		<td>context_id:</td>
																		<td>1488321028372930</td>
																	</tr>
																	<tr>
																		<td>agent_send_timestamp:</td>
																		<td>2017/03/24 16:25:26.265</td>
																	</tr>
																	<tr>
																		<td>apache.clientip:</td>
																		<td>192.168.1.103</td>
																	</tr>
																	<tr>
																		<td>apache.geo.city:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.country:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.isp:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.province:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.method:</td>
																		<td>GET</td>
																	</tr>
																	<tr>
																		<td>apache.referer:</td>
																		<td>http://alltest.rizhiyi.com/dashboard/</td>
																	</tr>
																	<tr>
																		<td>apache.referer_domain:</td>
																		<td>alltest.rizhiyi.com</td>
																	</tr>
																	<tr>
																		<td>apache.request_path:</td>
																		<td>/api/v0/dashboard/topvalues/fields/24/</td>
																	</tr>
																	<tr>
																		<td>apache.resp_len:</td>
																		<td>244</td>
																	</tr>
																	<tr>
																		<td>apache.status:</td>
																		<td>200</td>
																	</tr>
																	<tr>
																		<td>apache.ua:</td>
																		<td>Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36</td>
																	</tr>
																	<tr>
																		<td>apache.version:</td>
																		<td>1.1</td>
																	</tr>
																	<tr>
																		<td>collector_recv_timestamp:</td>
																		<td>1490343926265</td>
																	</tr>
																	<tr>
																		<td>duration_parse__debug__:</td>
																		<td>65</td>
																	</tr>
																	<tr>
																		<td>timestamp:</td>
																		<td>2017/03/24 15:55:01.0</td>
																	</tr>
																	<tr>
																		<td>raw_message:</td>
																		<td>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td class="first"><i class="fa fa-caret-right"></i><span>2017-03-24 15:55:01.000</span></td>
													<td>
														<b>appname:</b><span></span><b>hostname:</b><span>221.238.131.162</span><b>tag:</b><span>test</span>
														<p>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</p>
														<div>
															<table>
																<tbody>
																	<tr>
																		<td>hostname:</td>
																		<td>221.238.131.162</td>
																	</tr>
																	<tr>
																		<td>appname:</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>tag:</td>
																		<td>test</td>
																	</tr>
																	<tr>
																		<td>logtype:</td>
																		<td>apache</td>
																	</tr>
																	<tr>
																		<td>context_id:</td>
																		<td>1488321028372930</td>
																	</tr>
																	<tr>
																		<td>agent_send_timestamp:</td>
																		<td>2017/03/24 16:25:26.265</td>
																	</tr>
																	<tr>
																		<td>apache.clientip:</td>
																		<td>192.168.1.103</td>
																	</tr>
																	<tr>
																		<td>apache.geo.city:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.country:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.isp:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.geo.province:</td>
																		<td>private</td>
																	</tr>
																	<tr>
																		<td>apache.method:</td>
																		<td>GET</td>
																	</tr>
																	<tr>
																		<td>apache.referer:</td>
																		<td>http://alltest.rizhiyi.com/dashboard/</td>
																	</tr>
																	<tr>
																		<td>apache.referer_domain:</td>
																		<td>alltest.rizhiyi.com</td>
																	</tr>
																	<tr>
																		<td>apache.request_path:</td>
																		<td>/api/v0/dashboard/topvalues/fields/24/</td>
																	</tr>
																	<tr>
																		<td>apache.resp_len:</td>
																		<td>244</td>
																	</tr>
																	<tr>
																		<td>apache.status:</td>
																		<td>200</td>
																	</tr>
																	<tr>
																		<td>apache.ua:</td>
																		<td>Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36</td>
																	</tr>
																	<tr>
																		<td>apache.version:</td>
																		<td>1.1</td>
																	</tr>
																	<tr>
																		<td>collector_recv_timestamp:</td>
																		<td>1490343926265</td>
																	</tr>
																	<tr>
																		<td>duration_parse__debug__:</td>
																		<td>65</td>
																	</tr>
																	<tr>
																		<td>timestamp:</td>
																		<td>2017/03/24 15:55:01.0</td>
																	</tr>
																	<tr>
																		<td>raw_message:</td>
																		<td>192.168.1.103 - - [24/Mar/2017:15:55:01 +0800] "GET /api/v0/dashboard/topvalues/fields/24/ HTTP/1.1" 200 244 "http://alltest.rizhiyi.com/dashboard/" "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36" "-" 0.263 0.263 unix://var/www/yottaweb/yottaweb.sock 200 233 -</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

				                        
				                        
				                    </div>
				               </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<script src="../js/jquery.min.js?v=2.1.4"></script>
		<script src="../js/bootstrap.min.js?v=3.3.6"></script>
		
		<!--仪表盘  折线柱形图-->
		<script src="../js/map/echarts.js"></script>
		<script src="../js/map/macarons.js"></script>
	    
	    <!--弹出层-->
		<script src="../js/plugins/layer/layer.min.js"></script>
		
		<!--时间选择-->
    	<script src="../js/plugins/datapicker/bootstrap-datetimepicker.js"></script>
		
		
	    <script src="../js/applog/applog.js"></script>
	    

	</body>


</html>